*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html, body{
    max-height: 100%;
}  


*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/*CSS reset code*/
/*Font that was used in this exercise*/
@font-face {
    font-family: 'Overpass';
    src: url(/Overpass/Overpass-VariableFont_wght.ttf);
}
/*Basic body code*/
body{
    font-size: 15px;
    max-width: 1440px;
    font-family: 'Overpass';
    background-color: hsl(216, 12%, 8%);
    color: rgb(255, 255, 255);
}
/*Code for the web page main card*/
.container{
    width: 450px;
    height: 400px;
    background-color:rgba(28, 35, 45);
    border-radius: 20px;
    padding: 50px;
}
/*Code for positioning card*/
.main{
  display: flex ;
  justify-content: center ;
  align-items: center ;
  height: 100vh ;
  margin-left: 300px;
}
/*Text for the header*/
.title-text{
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
}
/* Hover effect for the header tex*/
.title-text:hover{
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}
/*Code for the frontend web page link and my GitHub profile*/
.attribution{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 320px;
  margin-top: -200px;
  font-size: 14px;
  font-weight: 700;
} 
/*Code for the attribution link*/
.attribution a{
  color: hsl(25, 97%, 53%);
  text-decoration: none;
  margin-left: 5px;
  font-weight: 700;
}
/*Hover effect for the attribution link*/
.attribution a:hover{
  text-decoration: underline;
  color: rgb(247, 147, 59);
  cursor: pointer;
  font-weight: 700;
}
/*Code for the star image*/
.image{
   background-color:rgba(39, 46, 56);
   border-radius: 50%;
   width: 42px;
   height: 42px;
}
/*Code for the star image*/
.image img{
  padding-top: 12px;
  margin-left: 13px;
}
/*Code for the part of the pages that apppears after rating was selected
display: none 'disappears' the elements*/
#thank-you-note{
  display: none;
}
#sub-title{
   display: none;
}
#rating-image{
   display: none;
}
/*Code for the rating buttons*/
.rating-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-top: 20px;
}
/*Code for the rating buttons but for each one*/
.number-one-rate  button{
   background-color:rgba(39, 46, 56);
   border-radius: 50%;
   width: 42px;
   height: 42px;
   color: hsl(217, 12%, 63%);
   font-weight: 700;
   border: solid 1px hsl(217, 12%, 63%);
   cursor: pointer;
   padding-top: 5px;
}
.number-two-rate  button{
   background-color:rgba(39, 46, 56);
   border-radius: 50%;
   width: 42px;
   height: 42px;
   color: hsl(217, 12%, 63%);
   font-weight: 700;
   border: solid 1px hsl(217, 12%, 63%);
   cursor: pointer;
   padding-top: 5px;
}
.number-three-rate  button{
   background-color:rgba(39, 46, 56);
   border-radius: 50%;
   width: 42px;
   height: 42px;
   color: hsl(217, 12%, 63%);
   font-weight: 700;
   border: solid 1px hsl(217, 12%, 63%);
   cursor: pointer;
   padding-top: 5px;
}
.number-four-rate  button{
   background-color:rgba(39, 46, 56);
   border-radius: 50%;
   width: 42px;
   height: 42px;
   color: hsl(217, 12%, 63%);
   font-weight: 700;
   border: solid 1px hsl(217, 12%, 63%);
   cursor: pointer;
   padding-top: 5px;
}
.number-five-rate button{
  background-color:rgba(39, 46, 56);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  color: hsl(217, 12%, 63%);
  font-weight: 700;
  border: solid 1px hsl(217, 12%, 63%);
  cursor: pointer;
  padding-top: 5px;
}
.submit-button button{
  margin-top: 30px;
  cursor: pointer;
  background-color:hsl(25, 97%, 53%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 18px;
  border: solid 1px hsl(25, 97%, 53%);
}
.selected{
  display: none;
}
/*Code for the rating text*/
.rating{
  margin-top: 10px;
  margin-bottom: 25px;
}
.rating-text{
  color: hsl(217, 12%, 63%);
}
/*Hover effects for rating buttons*/
.rating-buttons button:hover{
  background-color: hsl(217, 12%, 63%);
  color: rgb(255, 255, 255);
  border: solid 1px hsl(217, 12%, 63%);
}
/*Hover effect for submit button*/
.submit-button button:hover{
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(255, 255, 255);
  color: hsl(25, 97%, 53%);
}
/*Code for the image that appears after you have selected rating*/
#rating-image img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
  margin-bottom: 30px;
  margin-top: -25px;
}
/*Code for the layout of the page afte you have selected the rating*/
.rating-selected{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  width: 210px;
  background-color: rgba(39, 46, 56);
  border-radius: 20px;
  color: hsl(25, 97%, 53%);
  padding-top: 10px;
  margin-bottom: 25px;
  margin-left: 70px;
  font-size: 17px;
  font-weight: 700;
}
/*Code for rate that you have choosen*/
.rating-selected:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: hsl(25, 97%, 53%);
}
/*Code for the thanks note*/
.thank-you-note-text{
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 15px;
}
/*Code for the text at the bottom*/
.sub-title-text{
    color: hsl(217, 12%, 63%);
    font-size: 17px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 700;
    line-height: 1.2;
}
